[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pycodestyle = "*"
flake8 = "*"
autopep8 = "*"
mock = "*"
pyinstaller = "*"
coverage = "*"
pyqt6 = "*"
pytest-qt = "*"
xvfbwrapper = "*"
pytest-xvfb = "*"

[dev-packages]

[requires]
python_version = "3.11"
