[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
screeninfo = "*"
pygetwindow = "*"
pyyaml = "*"

[dev-packages]
autopep8 = "*"
coverage = "*"
flake8 = "*"
mock = "*"
pycodestyle = "*"
pyinstaller = "*"
pytest = "*"

[requires]
python_version = "3.11"
